# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore database files
*.sqlite3

# Ignore compiled code or build folders
build/
dist/


